<div>
	<ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Loyalty</a></li>
		<li class="active">Loyalty Program Tier</li>
	</ul>
	<!-- END BREADCRUMB -->
	<div class="page-title ng-scope">
		<h2>
			<span class="fa fa-users"></span> Loyalty Program Tier
		</h2>
	</div>
	<div class="page-content-wrap">
		<div class="row">
			<div class="col-md-12">

				<form class="form-horizontal" id="LoyaltyProgramTierForm"
					name="LoyaltyProgramTierForm">
					<div ng-show="displayError" class="alert alert-danger">
						<strong>Error!</strong> Something broke. Retry, or cancel and
						start afresh.
					</div>
					<div class="panel panel-default">
						<div class="panel-heading ui-draggable-handle">
							<header ng-switch
								on="$location.path().indexOf('/LoyaltyProgramTiers/new') > -1">
								<h3 class="panel-title" ng-switch-when="true">
									<strong>Create a new Loyalty Program Tier</strong>
								</h3>
								<h3 class="panel-title" ng-switch-when="false">
									<strong ng-switch-when="false">View or edit Loyalty
										Program Tier</strong>
								</h3>
							</header>
						</div>
						<div class="panel-body">
							<p></p>
						</div>
						<div class="panel-body">
							<div class="form-group"
								ng-class="{'has-error': LoyaltyProgramTierForm.tierName.$invalid}">
								<label class="col-md-3 col-xs-12 control-label">Tier
									Name</label>
								<div class="col-md-6 col-xs-12">
									<
									<div class="input-group">
										<span class="input-group-addon"><span
											class="fa fa-pencil"></span></span> <input type="text" type="text"
											class="form-control" id="tierName" name="tierName" required
											ng-maxlength="45" ng-model="loyaltyProgramTier.tierName"
											placeholder="Enter the Loyalty Program Tier Name"> <span
											class="help-block error"
											ng-show="LoyaltyProgramTierForm.tierName.$error.required">required</span>
										<span class="help-block error"
											ng-show="LoyaltyProgramTierForm.tierName.$error.maxlength">maximum
											length is 45</span>
									</div>
								</div>
							</div>
							<div class="form-group"
								ng-class="{'has-error': LoyaltyProgramTierForm.tierMinPoints.$invalid}">
								<label class="col-md-3 col-xs-12 control-label">Tier Min
									Points</label>
								<div class="col-md-6 col-xs-12">
									<
									<div class="input-group">
										<span class="input-group-addon"><span
											class="fa fa-pencil"></span></span> <input type="text" type="text"
											class="form-control" id="tierMinPoints" name="tierMinPoints"
											ng-model="loyaltyProgramTier.tierMinPoints"
											placeholder="Enter the Loyalty Program Tier Min Points">
										<span class="help-block error"
											ng-show="LoyaltyProgramTierForm.tierMinPoints.$error.number">not
											a number</span>
									</div>
								</div>
							</div>
							<div class="form-group"
								ng-class="{'has-error': LoyaltyProgramTierForm.tierMaxPoints.$invalid}">
								<label class="col-md-3 col-xs-12 control-label">Tier Max
									Points</label>
								<div class="col-md-6 col-xs-12">
									<
									<div class="input-group">
										<span class="input-group-addon"><span
											class="fa fa-pencil"></span></span> <input type="text" type="text"
											class="form-control" id="tierMaxPoints" name="tierMaxPoints"
											ng-model="loyaltyProgramTier.tierMaxPoints"
											placeholder="Enter the Loyalty Program Tier Max Points">
										<span class="help-block error"
											ng-show="LoyaltyProgramTierForm.tierMaxPoints.$error.number">not
											a number</span>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button class="btn btn-default" ng-click="cancel()">Cancel</button>
							<button class="btn btn-danger pull-center"
								ng-show="loyaltyProgramTier.tierId" ng-click="remove()">
								<span class="fa fa-remove"></span> DELETE
							</button>
							<button class="btn btn-success pull-right"
								ng-disabled="isClean() || LoyaltyProgramTierForm.$invalid"
								ng-click="save()">
								<span class="fa fa-save"></span> SUBMIT
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>