<header ng-switch
	on="$location.path().indexOf('/AkUserAddresses/new') > -1">
	<h3 ng-switch-when="true">Create a new User Address</h3>
	<h3 ng-switch-when="false">View or edit User Address</h3>
</header>
<form id="AkUserAddressForm" name="AkUserAddressForm"
	class="form-horizontal" role="form">
	<div ng-show="displayError" class="alert alert-danger">
		<strong>Error!</strong> Something broke. Retry, or cancel and start
		afresh.
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.akUsers.$invalid}">
		<label for="akUsers" class="col-sm-2 control-label">User</label>
		<div id="akUsersControls" class="col-sm-10">
			<select id="akUsers" name="akUsers" class="form-control"
				ng-model="akUsersSelection"
				ng-options="a.text for a in akUsersSelectionList">
				<option value="">Choose a User</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userTypeName.$invalid}">
		<label for="userTypeName" class="col-sm-2 control-label">Address
			Type Name</label>
		<div id="userTypeNameControls" class="col-sm-10">
			<input id="userTypeName" name="userTypeName" type="text"
				ng-maxlength="50" class="form-control"
				ng-model="akUserAddress.userTypeName"
				placeholder="Enter the Address Type Name"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userTypeName.$error.maxlength">maximum
				length is 50</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userFirstName.$invalid}">
		<label for="userFirstName" class="col-sm-2 control-label">First
			Name</label>
		<div id="userFirstNameControls" class="col-sm-10">
			<input id="userFirstName" name="userFirstName" type="text"
				ng-maxlength="50" class="form-control"
				ng-model="akUserAddress.userFirstName"
				placeholder="Enter the First Name"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userFirstName.$error.maxlength">maximum
				length is 50</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userLastName.$invalid}">
		<label for="userLastName" class="col-sm-2 control-label">Last
			Name</label>
		<div id="userLastNameControls" class="col-sm-10">
			<input id="userLastName" name="userLastName" type="text"
				ng-maxlength="50" class="form-control"
				ng-model="akUserAddress.userLastName"
				placeholder="Enter the Last Name"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userLastName.$error.maxlength">maximum
				length is 50</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userAddress.$invalid}">
		<label for="userAddress" class="col-sm-2 control-label">Address</label>
		<div id="userAddressControls" class="col-sm-10">
			<input id="userAddress" name="userAddress" type="text"
				ng-maxlength="100" class="form-control"
				ng-model="akUserAddress.userAddress"
				placeholder="Enter the User Address"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userAddress.$error.maxlength">maximum
				length is 100</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userAddress2.$invalid}">
		<label for="userAddress2" class="col-sm-2 control-label">Address
			2</label>
		<div id="userAddress2Controls" class="col-sm-10">
			<input id="userAddress2" name="userAddress2" type="text"
				ng-maxlength="50" class="form-control"
				ng-model="akUserAddress.userAddress2"
				placeholder="Enter the User Address 2"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userAddress2.$error.maxlength">maximum
				length is 50</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userCity.$invalid}">
		<label for="userCity" class="col-sm-2 control-label">City</label>
		<div id="userCityControls" class="col-sm-10">
			<input id="userCity" name="userCity" type="text" ng-maxlength="90"
				class="form-control" ng-model="akUserAddress.userCity"
				placeholder="Enter the City"></input> <span class="help-block error"
				ng-show="AkUserAddressForm.userCity.$error.maxlength">maximum
				length is 90</span>
		</div>
	</div>


	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userState.$invalid}">
		<label for="userState" class="col-sm-2 control-label">State</label>
		<div id="userStateControls" class="col-sm-10">
			<input id="userState" name="userState" type="text" ng-maxlength="20"
				class="form-control" ng-model="akUserAddress.userState"
				placeholder="Enter the State"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userState.$error.maxlength">maximum
				length is 20</span>
		</div>
	</div>


	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userCountry.$invalid}">
		<label for="userCountry" class="col-sm-2 control-label">Country</label>
		<div id="userCountryControls" class="col-sm-10">
			<input id="userCountry" name="userCountry" type="text"
				ng-maxlength="20" class="form-control"
				ng-model="akUserAddress.userCountry" placeholder="Enter the Country"></input>
			<span class="help-block error"
				ng-show="AkUserAddressForm.userCountry.$error.maxlength">maximum
				length is 20</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userZip.$invalid}">
		<label for="userZip" class="col-sm-2 control-label">Zip</label>
		<div id="userZipControls" class="col-sm-10">
			<input id="userZip" name="userZip" type="text" ng-maxlength="12"
				class="form-control" ng-model="akUserAddress.userZip"
				placeholder="Enter the Zip"></input> <span class="help-block error"
				ng-show="AkUserAddressForm.userZip.$error.maxlength">maximum
				length is 12</span>
		</div>
	</div>
	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userFax.$invalid}">
		<label for="userFax" class="col-sm-2 control-label">Fax</label>
		<div id="userFaxControls" class="col-sm-10">
			<input id="userFax" name="userFax" type="text" ng-maxlength="20"
				class="form-control" ng-model="akUserAddress.userFax"
				placeholder="Enter the Fax"></input> <span class="help-block error"
				ng-show="AkUserAddressForm.userFax.$error.maxlength">maximum
				length is 20</span>
		</div>
	</div>



	<div class="form-group"
		ng-class="{'has-error': AkUserAddressForm.userPhone.$invalid}">
		<label for="userPhone" class="col-sm-2 control-label">Phone</label>
		<div id="userPhoneControls" class="col-sm-10">
			<input id="userPhone" name="userPhone" type="text" ng-maxlength="20"
				class="form-control" ng-model="akUserAddress.userPhone"
				placeholder="Enter the Phone"></input> <span
				class="help-block error"
				ng-show="AkUserAddressForm.userPhone.$error.maxlength">maximum
				length is 20</span>
		</div>
	</div>





	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveAkUserAddress" name="saveAkUserAddress"
				class="btn btn-primary"
				ng-disabled="isClean() || AkUserAddressForm.$invalid"
				ng-click="save()">
				<span class="glyphicon glyphicon-ok-sign"></span> Save
			</button>
			<button id="cancel" name="cancel" class="btn btn-default"
				ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> Cancel
			</button>
			<button id="deleteAkUserAddress" name="deleteAkUserAddress"
				class="btn btn-danger" ng-show="akUserAddress.addressId"
				ng-click="remove()">
				<span class="glyphicon glyphicon-trash"></span> Delete
			</button>
		</div>
	</div>
</form>