<div>
	<ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Events & Offers</a></li>
		<li class="active">Events</li>
	</ul>
	<!-- END BREADCRUMB -->
	<div class="page-title ng-scope">
		<h2>
			<span class="fa fa-users"></span> Events
		</h2>
	</div>
	<div class="page-content-wrap">
		<div class="row">
			<div class="col-md-12">

				<form class="form-horizontal" id="EventForm" name="EventForm">
					<div ng-show="displayError" class="alert alert-danger">
						<strong>Error!</strong> Something broke. Retry, or cancel and
						start afresh.
					</div>
					<div class="panel panel-default">
						<div class="panel-heading ui-draggable-handle">
							<header ng-switch
								on="$location.path().indexOf('/FeatureOptions/new') > -1">
								<h3 class="panel-title" ng-switch-when="true">
									<strong>Create a new Event</strong>
								</h3>
								<h3 class="panel-title" ng-switch-when="false">
									<strong ng-switch-when="false">View or edit Event</strong>
								</h3>
							</header>
						</div>
						<div class="panel-body">
							<p></p>
						</div>
						<div class="panel-body">
							<div class="form-group"
								ng-class="{'has-error': EventForm.eventName.$invalid}">
								<label class="col-md-3 col-xs-12 control-label">Event Name</label>
								<div class="col-md-6 col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><span
											class="fa fa-pencil"></span></span> <input type="text"
											class="form-control" id="eventName" name="eventName" type="text" ng-maxlength="45" ng-model="event.eventName" placeholder="Enter the Event Name"> <span
											class="help-block error"
											ng-show="EventForm.eventName.$error.maxlength">maximum length is 45</span>
									</div>
								</div>
							</div>
							<div class="form-group"
								ng-class="{'has-error': EventForm.eventDesc.$invalid}">
								<label class="col-md-3 col-xs-12 control-label">Event Description</label>
								<div class="col-md-6 col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><span
											class="fa fa-pencil"></span></span> <input type="text"
											class="form-control" id="eventDesc" name="eventDesc" type="text" ng-maxlength="500" ng-model="event.eventDesc" placeholder="Enter the Event Description"> <span
											class="help-block error"
											ng-show="EventForm.eventDesc.$error.maxlength">maximum length is 45</span>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button class="btn btn-default"  ng-click="cancel()">Cancel</button>
							<button class="btn btn-danger pull-center"
								ng-show="event.eventId" ng-click="remove()">
								<span class="fa fa-remove"></span> DELETE
							</button>
							<button class="btn btn-success pull-right"
								ng-disabled="isClean() || EventForm.$invalid" ng-click="save()">
								<span class="fa fa-save"></span> SUBMIT
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>