<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
		<li><a href="#">Options & Groups</a></li>
		<li class="active">Option Groups</li>i>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
	<h2>
		<span class="fa fa-users"></span> Option Groups
	</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Use search to find Option Groups.</p>
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-md-8">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-search"></span>
										</div>
										<input type="text" class="form-control" id="optionGroupName"
											name="optionGroupName" ng-model="search.optionGroupName"
											placeholder="Enter the Option Group Name">
										<div class="input-group-btn">
											<button class="btn btn-primary" ng-click="performSearch()">Search</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-search"></span>
										</div>
										<input type="text" class="form-control" id="optionGroupDesc"
											name="optionGroupDesc" ng-model="search.optionGroupDesc"
											placeholder="Enter the Option Group Desc">
										<div class="input-group-btn">
											<button class="btn btn-primary" ng-click="performSearch()">Search</button>
										</div>
									</div>
								</div>

							</div>
							<div class="col-md-4">
								<a type="button" ng-href="#/OptionGroups/new"
									class="btn btn-success btn-block"> <span class="fa fa-plus"></span>
									Add a new Option Groups
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Option Group Name</th>
								<th>Option Group Desc</th>
								<th>Last Update User Id</th>
								<th>Last Update Ts</th>
							</tr>
						</thead>
						<tbody id="search-results-body">
							<tr
								ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
								<td><a href="#/OptionGroups/edit/{{result.optionGroupId}}">{{result.optionGroupName}}</a></td>
								<td><a href="#/OptionGroups/edit/{{result.optionGroupId}}">{{result.optionGroupDesc}}</a></td>
								<td><a href="#/OptionGroups/edit/{{result.optionGroupId}}">{{result.lastUpdateUserId}}</a></td>
								<td><a href="#/OptionGroups/edit/{{result.optionGroupId}}">{{result.lastUpdateTs|
										date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<ul class="pagination pagination-centered">
				<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
					ng-click="previous()">«</a></li>
				<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
					ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
				<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
					<a id="next" href ng-click="next()">»</a>
				</li>
			</ul>

		</div>
	</div>
</div>




