<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
		<li><a href="#">Price Rules</a></li>
		<li class="active">Tax Rule</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
	<h2>
		<span class="fa fa-users"></span> Tax Rule
	</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Use search to find Tax Rule</p>
				</div>
				<div class="panel-body">
					<div class="row vertical-align">

						<div class="col-md-8">
			<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<select id="tax" name="tax" 
										class="form-control select open"
										ng-model="search.tax" ng-options="t as t.taxId for t in taxList">
										<option value="">Choose a Tax</option>
									</select>
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>			

		<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<input type="text" class="form-control" id="taxRuleName" name="taxRuleName" ng-model="search.taxRuleName" placeholder="Enter the Tax Rule Name">
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>

			<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<input type="text" class="form-control" id="stateCd" name="stateCd" ng-model="search.stateCd" placeholder="Enter the Tax Rule State Code">
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>

				<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<input type="text" class="form-control" id="countryCd" name="countryCd" ng-model="search.countryCd" placeholder="Enter the TaxRule Country Code">
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>				
						</div>
						<div class="col-md-4">

							<a type="button" ng-href="#/TaxRules/new"
								class="btn btn-success btn-block"> <span class="fa fa-plus"></span>
								Add a new Tax Rule
							</a>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
                <tr>
                    <th>Tax</th>
                    <th>Tax Rule Name</th>
                    <th>State Cd</th>
                    <th>Country Cd</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/TaxRules/edit/{{result.taxRuleId}}">{{result.tax.taxId}}</a></td>
                    <td><a href="#/TaxRules/edit/{{result.taxRuleId}}">{{result.taxRuleName}}</a></td>
                    <td><a href="#/TaxRules/edit/{{result.taxRuleId}}">{{result.stateCd}}</a></td>
                    <td><a href="#/TaxRules/edit/{{result.taxRuleId}}">{{result.countryCd}}</a></td>
                    <td><a href="#/TaxRules/edit/{{result.taxRuleId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/TaxRules/edit/{{result.taxRuleId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-12">
		<ul class="pagination pagination-centered">
			<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
				ng-click="previous()">«</a></li>
			<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
				ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
			<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
				<a id="next" href ng-click="next()">»</a>
			</li>
		</ul>

	</div>
</div>
</div>