<header ng-switch on="$location.path().indexOf('/AkOptions/new') > -1">
    <h3 ng-switch-when="true">Create a new AkOptions</h3>
    <h3 ng-switch-when="false">View or edit AkOptions</h3>
</header>
<form id="AkOptionsForm" name="AkOptionsForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': AkOptionsForm.akOptionGroups.$invalid}">
        <label for="akOptionGroups" class="col-sm-2 control-label">Ak Option Groups</label>
        <div id="akOptionGroupsControls" class="col-sm-10">
        <select id="akOptionGroups" name="akOptionGroups" class="form-control" ng-model="akOptionGroupsSelection" ng-options="a.text for a in akOptionGroupsSelectionList"  >
            <option value="">Choose a Ak Option Groups</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AkOptionsForm.optionName.$invalid}">
        <label for="optionName" class="col-sm-2 control-label">Option Name</label>
        <div id="optionNameControls" class="col-sm-10">
            <input id="optionName" name="optionName" type="text" required ng-maxlength="50" class="form-control" ng-model="akOptions.optionName" placeholder="Enter the AkOptions Option Name"></input>
            <span class="help-block error" ng-show="AkOptionsForm.optionName.$error.required">required</span> 
            <span class="help-block error" ng-show="AkOptionsForm.optionName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AkOptionsForm.akProductOptionses.$invalid}">
        <label for="akProductOptionses" class="col-sm-2 control-label">Ak Product Optionses</label>
        <div id="akProductOptionsesControls" class="col-sm-10">
            <select id="akProductOptionses" name="akProductOptionses" multiple class="form-control" ng-model="akProductOptionsesSelection" ng-options="a.text for a in akProductOptionsesSelectionList">
                <option value="">Choose a Ak Product Optionses</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveAkOptions" name="saveAkOptions" class="btn btn-primary" ng-disabled="isClean() || AkOptionsForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteAkOptions" name="deleteAkOptions" class="btn btn-danger" ng-show="akOptions.optionId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>