<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Loyalty</a></li>
	<li class="active">Loyalty Event</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
	<h2>
		<span class="fa fa-users"></span> Loyalty Event
	</h2>
</div>



<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Use search to find Loyalty Events</p>
				</div>
				<div class="panel-body">
					<div class="row vertical-align">

						<div class="col-md-8">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<select class="form-control select open" id="event"
										name="event" ng-model="search.event"
										ng-options="e as e.eventName for e in eventList">
										<option value="">Choose an Event</option>
									</select>
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<select class="form-control select open"
										id="loyaltyProgramTier" name="loyaltyProgramTier"
										ng-model="search.loyaltyProgramTier"
										ng-options="l as l.tierName for l in loyaltyProgramTierList">
										<option value="">Choose a Loyalty Program Tier</option>
									</select>
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<input type="text" class="form-control" id="pointsEarned"
										name="pointsEarned" ng-model="search.pointsEarned"
										placeholder="Enter the Loyalty Event Points Earned">
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">

							<a type="button" ng-href="#/LoyaltyEventDetails/new"
								class="btn btn-success btn-block"> <span class="fa fa-plus"></span>
								Add a new Loyalty Event
							</a>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Event</th>
							<th>Loyalty Program Tier</th>
							<th>Points Earned</th>
							<th>Last Update User ID</th>
							<th>Last Update Time Stamp</th>
						</tr>
					</thead>
					<tbody id="search-results-body">
						<tr
							ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
							<td><a
								href="#/LoyaltyEventDetails/edit/{{result.loyaltyEventDetailsId}}">{{result.event.eventName}}</a></td>
							<td><a
								href="#/LoyaltyEventDetails/edit/{{result.loyaltyEventDetailsId}}">{{result.loyaltyProgramTier.tierName}}</a></td>
							<td><a
								href="#/LoyaltyEventDetails/edit/{{result.loyaltyEventDetailsId}}">{{result.pointsEarned}}</a></td>
							<td><a
								href="#/LoyaltyEventDetails/edit/{{result.loyaltyEventDetailsId}}">{{result.lastUpdateUserId}}</a></td>
							<td><a
								href="#/LoyaltyEventDetails/edit/{{result.loyaltyEventDetailsId}}">{{result.lastUpdateTs|
									date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-12">
		<ul class="pagination pagination-centered">
			<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
				ng-click="previous()">«</a></li>
			<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
				ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
			<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
				<a id="next" href ng-click="next()">»</a>
			</li>
		</ul>

	</div>
</div>
</div>



