<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Catalog</a></li>
	<li><a href="#">Product</a></li>
	<li class="active">Product Options</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
	<h2>
		<span class="fa fa-users"></span> Product Options
	</h2>
</div>



<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Use search to find Product options</p>
				</div>
				<div class="panel-body">
					<div class="row vertical-align">

						<div class="col-md-8">




							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<select id="optionGroups" name="optionGroups"
										class="form-control select open"
										ng-model="search.optionGroups"
										ng-options="o as o.optionGroupName for o in optionGroupsList">
										<option value="">Choose a Option Group</option>
									</select>
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>


							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<select id="options" name="options"
										class="form-control select open" ng-model="search.options"
										ng-options="o as o.optionName for o in optionsList">
										<option value="">Choose a Option</option>
									</select>
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>


							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="fa fa-search"></span>
									</div>
									<select id="product" name="product"
										class="form-control select open" ng-model="search.product"
										ng-options="p as p.productName for p in productList">
										<option value="">Choose a Product</option>
									</select>
									<div class="input-group-btn">
										<button class="btn btn-primary" ng-click="performSearch()">Search</button>
									</div>
								</div>
							</div>






						</div>
						<div class="col-md-4">

							<a type="button" ng-href="#/ProductOptions/new"
								class="btn btn-success btn-block"> <span class="fa fa-plus"></span>
								Add new Product Option
							</a>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Option Groups</th>
							<th>Options</th>
							<th>Product</th>
							<th>Last Update User Id</th>
							<th>Last Update Ts</th>
						</tr>
					</thead>
					<tbody id="search-results-body">
						<tr
							ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
							<td><a
								href="#/ProductOptions/edit/{{result.productOptionId}}">{{result.optionGroups.optionGroupName}}</a></td>
							<td><a
								href="#/ProductOptions/edit/{{result.productOptionId}}">{{result.options.optionName}}</a></td>
							<td><a
								href="#/ProductOptions/edit/{{result.productOptionId}}">{{result.product.productName}}</a></td>
							<td><a
								href="#/ProductOptions/edit/{{result.productOptionId}}">{{result.lastUpdateUserId}}</a></td>
							<td><a
								href="#/ProductOptions/edit/{{result.productOptionId}}">{{result.lastUpdateTs|
									date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-12">
		<ul class="pagination pagination-centered">
			<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
				ng-click="previous()">«</a></li>
			<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
				ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
			<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
				<a id="next" href ng-click="next()">»</a>
			</li>
		</ul>

	</div>
</div>
</div>













