<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Orders</a></li>
	<li class="active">Order Status</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
	<h2>
		<span class="fa fa-users"></span> Order Status
	</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Use search to find Order status</p>
				</div>
				<form class="form-horizontal">
					<div class="panel-body">
						<div class="row vertical-align">
							<div class="col-md-8">

    	<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-search"></span>
										</div>
										<select id="orderStatusDesc" name="orderStatusDesc"
											class="form-control select open"
											ng-model="search.orderStatusDesc" ng-options="o as o.orderStatusDescName for o in orderStatusDescList">
											<option value="">Choose an Order Status Desc</option>
										</select>
										<div class="input-group-btn">
											<button class="btn btn-primary" ng-click="performSearch()">Search</button>
										</div>
									</div>
								</div>


    <div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-search"></span>
										</div>
										<select  id="orders" name="orders" 
											class="form-control select open"
											ng-model="search.orders" ng-options="o as o.orderId for o in ordersList">
											<option value="">Choose an Orders</option>
										</select>
										<div class="input-group-btn">
											<button class="btn btn-primary" ng-click="performSearch()">Search</button>
										</div>
									</div>
								</div>

					
							
	<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="fa fa-search"></span>
										</div>
										<input type="text" class="form-control"  id="orderStatusComment" name="orderStatusComment"
										 ng-model="search.orderStatusComment" placeholder="Enter the Order Status Comment">
										<div class="input-group-btn">
											<button class="btn btn-primary" ng-click="performSearch()">Search</button>
										</div>
									</div>
								</div>						
							</div>
							<div class="col-md-4">

								<a type="button" ng-href="#/OrderStatuses/new"
									class="btn btn-success btn-block"> <span class="fa fa-plus"></span>
									Add a new Order status
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
                <tr>
                    <th>Order Status Desc</th>
                    <th>Orders</th>
                    <th>Order Status Comment</th>
                    <th>Order Status Is Active</th>
                    <th>Last Update User Id</th>
                    <th>Last Update Ts</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/OrderStatuses/edit/{{result.orderStatusId}}">{{result.orderStatusDesc.orderStatusDescText}}</a></td>
                        <td><a href="#/OrderStatuses/edit/{{result.orderStatusId}}">{{result.orders.orderId}}</a></td>
                    <td><a href="#/OrderStatuses/edit/{{result.orderStatusId}}">{{result.orderStatusComment}}</a></td>
                    <td><a href="#/OrderStatuses/edit/{{result.orderStatusId}}">{{result.orderStatusIsActive}}</a></td>
                    <td><a href="#/OrderStatuses/edit/{{result.orderStatusId}}">{{result.lastUpdateUserId}}</a></td>
                    <td><a href="#/OrderStatuses/edit/{{result.orderStatusId}}">{{result.lastUpdateTs| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="pagination pagination-centered">
			<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
				ng-click="previous()">«</a></li>
			<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
				ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
			<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
				<a id="next" href ng-click="next()">»</a>
			</li>
		</ul>

	</div>
</div>
